@import "./reset.scss";
@import "./variables/colors.scss";

:root {
  font-size: 13px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  background-color: $color-background;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.articles {
  gap: 1.6rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "mainArticle mainArticle secondaryArticle asideArticle"
    "normalArticle tertiaryArticle tertiaryArticle asideArticle";
}

.main-article {
  grid-area: mainArticle;
}

.secondary-article {
  grid-area: secondaryArticle;
}

.tertiary-article {
  grid-area: tertiaryArticle;
}

.normal-article {
  grid-area: normalArticle;
}

.aside-article {
  grid-area: asideArticle;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  padding: .6rem;

  a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    font-weight: 700;
  }
}
