$color-background-main-article: hsl(263, 55%, 52%);
$color-background-secondary-article: hsl(217, 19%, 35%);
$color-background-third-article: hsl(219, 29%, 14%);
$color-white: hsl(0, 0%, 100%);
$color-light-gray: hsl(0, 0%, 81%);
$color-background: hsl(210, 46%, 95%);